
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh; 
    display: grid;
    grid-template-columns: 10% 30% auto 10%;
    grid-template-rows: 1;
}

.grid{
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -130px;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://orar.usarb.md/img/new_background_1.png");
}

.first-section{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px 0px 20px;
}

#right-section{
    grid-column: 3/4;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#right-section img{
    width: 130px;
    height: 89px;
}

#right-section h4{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

a{
    text-decoration: none;
    color: black;
}


.Numele{
    background: white;
    text-align: center;
    color: gray;
    padding: 15px;
    font-size: 20px;
    font-weight:bold ;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.button{
    background: #25975A;
    color: white;
    padding: 12px 30px;
    font-weight: bold;
}


.button:hover{
    background: white;
    color: gray;
}

.flex{
    display: flex;
    justify-content: space-between;
}

#searchinput{
    width: 100%;
    padding:10px 10px 10px 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.search{
    position: relative;
}

.search span{
    color: green;
    position: absolute;
    top: 12px;
    left: 8px;
}



select{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

#Legenda{
    color: white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#Legenda p{
    display: flex;
    gap: 5px;
    justify-content: center;
}
